body{
    background-color: #212121;
    color: #fff;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    font-size: 50px;
    background-color: orange;
    border-radius: 5px;
    padding: 20px 4%;
    margin-bottom: 10px;
}